
.breadcrumb {
  height: 35px;
  // padding: 0 0 8px;
  h2 {
    padding: 0;
    line-height: 32px;
  }
  span {
    font-size: 12px;
  }
}
.breadcrumb_arrow {
  display: inline-block;
  width: 4px;
  height: 4px;
  margin: 0 6px;
  border: solid #333;
  border-width: 0 1px 1px 0;
  padding: 3px;
  transform-origin: 0 0;
  transform: rotate(-45deg) translate(-40%, 15%) scale(0.8);
}