<main>
  <ul>
    <li>
      <app-user [name]="languages[0].name" [icon]="languages[0].icon" [description]="languages[0].description"></app-user>
    </li>
    <li>
      <app-user [name]="languages[0].name" [icon]="languages[0].icon"></app-user>
    </li>
    <!-- <li>
      <app-user [name]="languages[0].name" [description]="languages[0].description"></app-user>
    </li>
    <li>
      <app-user [icon]="languages[0].icon" [description]="languages[0].description"></app-user>
    </li> -->
  </ul>
</main>